/* Presentation */
 
.presentation-container {
    // Presentation general de infini ligne
    .general {
        background-color: var(--grey50);
        h3 {
            text-align: center;
            padding: 0.2rem;
            span {
                color: var(--lightBlue);
            }
        }
        p {
            text-align: center;
            margin: 0.2rem;
        }
    }
}

