/* Presentation */
 
.presentation-container {
    background-color: var(--grey50);
    h3 {
        text-align: center;
        span {
            color: var(--lightBlue);
        }
    }
    p {
        text-align: center;
        margin: 0.2rem;
        padding-bottom: 0.2rem;
    }
    #savoirPlus {
        margin: 0.2rem auto;
        padding: 0.2rem 0.4rem;
    }
    .savoirPlus {
        display: none;
    }
    .savoirPlusSeen {
        display: block;
    }
}

